<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/helios/main.css")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/style.css")
    @Scripts.Render("~/bundles/helios/jquery")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @Scripts.Render("~/bundles/jqueryval")
    <div id="page-wrapper">
        <div id="header">
            @RenderSection("inner", required: false)
            <nav id="nav" style="color:white">
                <ul>
                    <li>@Html.ActionLink("Home", "Index", controllerName: "Home")</li>
                    <li>
                        @Html.ActionLink("Cupcakes", "List", controllerName: "Cupcake")
                        <ul>
                            <li>@Html.ActionLink("Manage Cupcakes", "List", controllerName: "Cupcake")</li>
                            <li>@Html.ActionLink("Create a New Cupcakes", "Create", controllerName: "Cupcake")</li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
        @RenderBody()

        <div id="footer" style="padding-top:20px">
            <div class="container">
                <div class="row">
                    <div class="12u">
                        <!-- Contact -->
                        <section class="contact">
                            <header>
                                <h3>ABOUT YANGAROO CUPCAKES</h3>
                            </header>
                            <p>Ranked No.1 Cupcake shop in GTA 5 years in a row. We make and sell over 1 million cupcakes a year.<br /> Named one of Canada’s Top 100 Tech Companies by Canadian Business, YANGAROO has offices in Toronto, New York, and Los Angeles. YANGAROO trades on the TSX Venture Exchange (TSX-V) under the symbol YOO and in the U.S.</p>
                            <ul class="icons">
                                <li><a href="https://twitter.com/yangaroo_dmds" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                                <li><a href="https://www.facebook.com/YangarooDMDS" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                                <li><a href="#" class="icon fa-pinterest"><span class="label">Pinterest</span></a></li>
                                <li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
                                <li><a href="https://www.linkedin.com/company/yangaroo-dmds" class="icon fa-linkedin"><span class="label">Linkedin</span></a></li>
                            </ul>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @RenderSection("scripts", required: false)

</body>
</html>
<script>
    $(function () {
        $(".command-button").click(function () {
            window.location = $(this).find("a").attr("href");
        });
    });
</script>